@model  IEnumerable<MoviePro.Models.Cast>
 @using MoviePro.Services
@inject IImageService _imageService

@{
ViewData["Title"]="Index" ;
}

<h1>CAST</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="card-deck">
    @foreach (var cast in Model)
    {
        <div class="col-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <img class="card-img-top" src="@_imageService.DecodePoster(cast.Poster, cast.ContentType)" alt="Card image cap" />
                <div class="card-body">
                    <h4 class="card-title">@cast.Name</h4>
                    <p class="card-text">@cast.Character</p>
                    <a asp-action="Edit" asp-route-id="@cast.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@cast.Id">Delete</a>
                </div>
                <div class="card-footer">
                    <button data-toggle="modal" data-target="#modal-@cast.Id" class="btn btn-primary">@cast.Name</button>
                </div>
            </div>
        </div>
    }
</div>

<!--MODAL SECTION-->
@foreach (var cast in Model)
{
    <div class="modal fade" id="modal-@cast.Id" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@cast.Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body align-content-center">
                        <img class="card-img-top" src="@_imageService.DecodePoster(cast.Poster, cast.ContentType)" alt="Card image cap" />
                        <p>@cast.Character</p>

                        <a asp-action="Edit" asp-route-id="@cast.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@cast.Id">Delete</a>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
